@charset "utf-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#color {
  cursor: default;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 72px;
  letter-spacing: 10px;
  text-align: center;
}

#color::selection {
  background: transparent;
}

#color::-moz-selection {
  background: transparent;
}
