html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.color-text {
    cursor: default;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 36px;
    letter-spacing: 10px;
    text-align: center;

    &::selection {
        background: transparent;
    }
}

.rgb-hex {
  font-size: 72px;
}

.color-picker-label {
    background: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 0.75rem;
    height: 3rem;
    line-height: 1.4rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 4rem;

    .color-picker {
        display: none;
    }
}
